body {
    background:#ffffff;
    margin: 0 ;
    padding: 0 ;
}

/* header & navbar*/
header{
    background:#000000;
}

header img {
   
}
header nav a{
    text-decoration: none;
    color : white;
    font-size:3vw;
    font-weight: bold;
    margin : 1vh 3vw;
}

/* main */
.main{
    display:block;
}
/* card */
.card{
    width: 90%;
    background:#ffffff;
    border: 0.4vw solid black ;
    border-radius:2vw;
    margin:5%;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card img {
    width:95%;
    margin: 2vw;
    border-radius:2vw;
}

.card-main {
    margin: 2vw;
}

.card-main h2{
    color:#ff0a00;
    font-size : 8vw;
    margin:0.5vw;
}

.card-main p{
    color:#06070b;
    font-size : 4vw;
    margin:0.5vw;
}


/* contact me */
.contact-me {
    padding: 20px;
    background:#000000;
    text-align: center;
}

.contact-me ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}


.smidia{
    width:1.2rem;
    border-radius: 40%;
}

.contact-me ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}


/* Leave Comment Section */
.leave-comment {
    padding: 20px;
    text-align: center;
    background:#000000;
}

.leave-comment form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.leave-comment input,
.leave-comment textarea,
.leave-comment button {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.leave-comment button {
    background-color: white;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

.leave-comment button:hover {
    background: #45a049;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 10px;
    background:#000000;
    color: white;
}

.main-f {
    text-align: center;
    font-size: 0.9rem;
    color: #fff;
    background-color: #000000;
    padding: 1rem 0;
}

@media (min-width: 768px){
/* main */
.main{
    display: grid; 
    grid-template-columns: repeat(2,47vw);
    gap: 1.5vw;
}

.card{
    width : 100%;
    margin:1vw;
}
.card img {
    width: 95%;
    margin: 1vw;
}
}